# PyInstaller
build/
dist/
*.spec

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# macOS system files
.DS_Store

# IDE specific files (e.g., for VSCode or PyCharm)
.vscode/
.idea/

# Any log files your application might generate
*.log

# The word list file (if you don't want to include it in your repository)
# Uncomment the next line if you want to exclude it
# words_alpha.txt

# Node Modules 
node_modules/


